{% extends 'common/layout.twig' %}

{% block body %}
    <div class="page-wrapper" style="color: {{ page.text_color }}">
        <div class="header" style="background-image: url({{ page.image }});">
            <h1 class="text-center">{{ page.title }}</h1>
        </div>
        <div class="header-nav clearfix" style="background-color: {{ page.color }}">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul id="nav-menu" class="collapse navbar-collapse list-unstyled clearfix" style="background-color: {{ page.color }}">
                <li>
                    <a href="/wprowadzenie" class="btn {% if page.slug == 'wprowadzenie' %}active{% endif %}">
                        Wprowadzenie
                    </a>
                </li>
                <li>
                    <a href="/konferencja-wtwz" class="btn {% if page.slug == 'konferencja-wtwz' %}active{% endif %}">
                        Konferencja WTwZ
                    </a>
                </li>
                <li>
                    <a href="#" class="btn">Test 3</a>
                </li>
                <li>
                    <a href="#" class="btn">Test 4</a>
                </li>
                <li>
                    <a href="#" class="btn">Test 5</a>
                </li>
            </ul>
        </div>
        <div class="page-content" style="color: {{ page.color }}">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        {{ page.content | raw }}
                    </div>
                </div>
            </div>
            <div class="content-bg" style="background-color: {{ page.text_color }}"></div>
        </div>
    </div>
{% endblock %}
