{% extends 'common/layout.twig' %}

{% block body %}
    <div class="page-wrapper" style="background-image: url({{ page.image }});">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-content" style="color: {{ page.color }}">
                        <div class="header" style="">
                            <h1 class="text-center">{{ page.title }}</h1>
                        </div>
                        <div class="header-nav clearfix" style="background: {{ page.color }};
background: -moz-linear-gradient(-45deg, {{ page.color }} 0%,{{ page.text_color }} 100%);
background: -webkit-linear-gradient(-45deg, {{ page.color }} 0%,{{ page.text_color }} 100%);
background: linear-gradient(135deg, {{ page.color }} 0%,{{ page.text_color }} 100%);
 color: #fff">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <ul id="nav-menu" class="collapse navbar-collapse list-unstyled text-center" style="background: {{ page.color }};
                                    background: -moz-linear-gradient(-45deg, {{ page.color }} 0%,{{ page.text_color }} 100%);
                                    background: -webkit-linear-gradient(-45deg, {{ page.color }} 0%,{{ page.text_color }} 100%);
                                    background: linear-gradient(135deg, {{ page.color }} 0%,{{ page.text_color }} 100%);
                                    color: #fff">
                                {% for item in pages %}
                                    <li>
                                        <a href="/{{ item.slug }}" class="btn {% if page.slug == item.slug %}active{% endif %}">
                                            {{ item.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% for item in links %}
                                    <li>
                                        <a href="{{ item.url }}" class="btn" target="_blank">
                                            {{ item.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="page-text">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ page.content | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
